
@import url("https://fonts.googleapis.com/css?family=Aldrich:100,200,300,400,500,600,700");

:root {
  --brand: #01b5fb;
  --sub: #6ac754;
  --body: #516171;
  --border: rgba(0,0,0,0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}


.head-box1{
  object-fit: cover;
  position: sticky;
  top: 80px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 100px 50px 100px 50px; */
  background-color: var(--brand);
}

.head-box1 img{
  height: 93%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 991px) {
  .head-box1{
    display: flex;
    order: 0;
    position: static;
  }
  .content-box1{
    order: 1;
  }
}
.head-box1 h2{
  font-family: Aldrich, sans-serif;
  color: white;
}

.content-box1{
  /* background-color: #f56444; */
  background-color: var(--brand);
  padding: 50px;
}

@media (max-width: 500px) {
  .content-box1{
    padding: 50px 10px;
  }
  .rl-space-fluid{
    padding: 0;
  }
}

.content-box1 hr{
  color: white;
  height: 2px;
}

.content-box1 h3{
  font-family: Aldrich, sans-serif;
  text-transform: uppercase;
}
.content-box1 h3, .content-box1 p{
  color: white;
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/

.services .service-item {
  padding: 30px;
  background: #fff;
  height: 100%;
}

.services .service-item .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-bottom: 50px;
}

.services .service-item .icon i {
  color: var(--body);
  font-size: 40px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
  line-height: 1.8;
}

.services .service-item .icon:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #f0f1f2;
  border-radius: 50px;
  z-index: 1;
  top: 10px;
  right: -15px;
  transition: 0.3s;
}

.services .service-item h3 {
  color: var(--body);
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  font-size: 18px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid var(--brand);
  transition: 0.3s;
}

.services .service-item p {
  color: black;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .service-item .readmore {
  margin-top: 15px;
  display: inline-block;
  color: var(--brand);
}

.services .service-item:hover .icon:before {
  background: var(--brand);
}

.services .service-item:hover h3 {
  border-color: var(--brand);
}

.benifit{
  display: flex;
  justify-content: center;
}

/* .section-bg {
  background-color: #f5f6f7;
} */

.list-num{
  color: white;
  list-style: decimal;
  padding: 5px 0px;
}


/* Image Gallery */
.untree_co-section {
  /* padding: 50px 0; */
  position: relative;
}

/* @media (max-width: 991.98px) {
  .untree_co-section {
      padding: 50px 0;
  }
} */

.untree_co-section .heading h3 {
  font-size: 35px;
  color: #000000;
}

@media (max-width: 991.98px) {
  .untree_co-section .heading {
      font-size: 20px;
  }
}

.untree_co-section .heading strong {
  font-weight: 700;
}

.item {
  border: none;
  margin-bottom: 30px;
  border-radius: 4px;
  display: block;
}

.item a {
  height: 250px;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  display: block;
}

.item a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.item .item-wrap {
  display: block;
  position: relative;
  border-radius: 10px;
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.item .item-wrap > i {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  color: #ffffff;
  font-size: 1.7rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover i {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

/* .item:hover a  img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
} */

.item-wrap:hover img{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}
